.section1{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width:100%;
    border:1px solid white;
    background-color: white;
    top:0%;
}
img{
    /* width:82%;
   height:55vh; */
   width:100%;
   height:600px;
   border-radius:30px;
}
.head1{
    font-style:oblique;
    font-size:30px;
    font-weight: bold;
}
p{
    font-size:27px;
}
.section2{
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding:150px;
    margin:30px;
    grid-column-gap:30px;
    grid-row-gap:70px;
}
.section3{
    display: flex;
    justify-content: center;
}
.number{
    padding:30px;
}
.number:hover{
    background-color: black;
    color:white;
}
.image{
    width:120px;
    height:120px;
}
.section4{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    margin:40px;
    
}
.blog2{
    display: flex;
    gap:20px;
    margin:20px;
}
.blog3{
    display: flex;
    gap:20px;
    margin:20px;
}
.travel{
    display: flex;
    flex-wrap: wrap;

}
button{
    height:3vh;
    font-size:20px;
    margin:20px;
}

.img-1{
    height: 700px;
    width: 60vw;
    
}
.food{
    text-align: center;
}
.section4{
    overflow: scroll;
    scrollbar-width:none ;
}
p{
    overflow: scroll;
    scrollbar-width:none ;
}
 @media screen and (max-width:560px){
    .section2{
        grid-template-columns:auto;
    }
    .section2{
        background-color: brown;
    }  
} 
@media only screen and (min-width:560px)  and (max-width:900px){
    .section2{
        background-color: burlywood;
    }
    .section2{
        grid-template-columns: auto auto;
    }
} 
@media only screen and (min-width:900px) and (max-width:1000px){
    .section2{
        background-color: lightslategray;
    }
    .section2{
        grid-template-columns: auto auto auto;
    }
}
@media only screen  and (max-width:500px){
    .food>p{
        font-size:10px;
    }
    .food{
        background-color: cornflowerblue;
    }
}
@media only screen and (max-width:576px){
    .section4{
        background-color: darkseagreen;
    }
    .foot>p{
        font-size:10px;
    }
}
@media  only screen and (min-width:576px) and (max-width:1200px){
    .section2{
        grid-template-columns: auto auto auto auto;
        background-color: orangered;
    }
   
}