.nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 2px black;
    width:100%;
    height:8vh;
    font-size:30px;
    padding:30px;
    margin:30px; 
}
.nav2{
    display: flex;
    gap:30px;
    font-size:30px;

}
.section1{
    display: flex;
    justify-content:flex-end;
    width:100vw;
    padding:50px;
    margin:30px;
    
}
button{
    font-size: 30px;
    background-color: bisque;
    border-radius:10px;
    padding:30px;
    background-color: blueviolet;
    color: white;
}
P{
    justify-content: space-around;
    font-size:40px;
}
img{
    /* max-width:40%;
    height: auto; */
    padding:15px;
    width:50%;
}
.b{
    padding: 5px;
    background-color: blueviolet;
    color:white;

}
h1{
    font-size:70px;
}
